<section>
  <article ng-repeat="s in sales.slice().reverse()">
    <header>
      <h1>{{s.dateJoined | date}} | {{s.branch.location}}</h1>
      <h2>{{s.employee.email}}</h2>
    </header>
  </article>
</section>
