<section>
  <article ng-repeat="s in saless.slice().reverse()">
    <header>
      <h1>{{s.dateJoined | date}} | {{s.branch.location}}</h1>
      <h2>{{s.employee.email}}</h2>
    </header>

    <div class="actions" ng-show="currentUser">
      <button ui-sref="edit-sale({ id: s.id })">Edit</button>
      <button a ui-sref="delete-sale({ id: s.id })">Delete</button>
    </div>
  </article>
</section>
